#header{
 
  /*ton top is the id and in */
  background-color:gray;
  /*Changing text color to white*/
  color: white;
  text-align:center;
}
#city_opts{
 display: flex !important;
 flex-direction: column !important;
 margin: 1% !important;
}
.card{
  display: inline-block !important; 
  text-wrap: wrap;
  margin: 1%; 
  background-color: aquamarine; 
  color: black; 
  text-align: center; 
}
#weather_img{
  width: 4vw !important;
  height: 5vh !important; 
}
#curr_day{
  border: 1px solid black !important;
  text-align: center !important;
}