#header{
 
  /*ton top is the id and in */
  background-color:gray;
  /*Changing text color to white*/
  color: white;
  text-align:center;
}
#city_opts{
 display: flex !important;
 flex-direction: column !important;
 margin: 1% !important;
}

